*{
    margin: 0;
    padding: 0;

}
header p{ 
    background-color: rgb(54, 51, 51);
    color: aliceblue;
    text-align: center;
    padding:8px;
    margin: 5px;
}

#contenedor{
    border: 3px solid rgba(98, 98, 210, 0.847);
    padding:10px;
    margin: 10px;
   }
    h3{
    border-bottom: 1px solid black;
}

   /* Propiedades de Texto punto 2*/

 
   .segundoPunto p{
    border-top: 1px solid black;
    text-transform: capitalize;
    text-decoration: underline;
    padding:8px;

   }
   .segundoPunto blockquote{
    background-color: rgb(228, 226, 226);
    font-style:italic;
    color: rgb(84, 84, 84);
    font-size: small;
    padding-left: 20px;
    }
    /* Propiedades de Caja punto 3*/

  

/* .tercerPunto h3{
            border-bottom: 1px solid black;
} */
.tercerPunto-p1{
   margin:20px 10px;
   padding: 10px;
   border-radius: .5rem;
  border: 1px solid black;
  /* Propiedades de box-shadow : abajo costado difuminado fuerza*/
  box-shadow: 10px 10px 10px .5px ;
 }
 
 .tercerPunto-p2{
    
     font-family: "Matemasie", sans-serif;
     font-weight: 400;    
     font-style: normal;   
     
      
    color: aliceblue;
    background:linear-gradient(to right, rgb(74, 74, 219), rgb(190, 32, 58)) ;
    margin: 10px;
    padding: 10px;
    border-radius: .5rem;
   border: 3px solid black;
  }
  .cuartoPunto{
    position:absolute;
    background-color: black;
  }

  .cuartoPunto-p1{
    color: aliceblue;
    background:lightseagreen;
    margin: 10px;
    padding: 10px;
    border-radius: .5rem;
   border: 1px solid black;
   position: relative;

  }
 
  .cuartoPunto-p2{
    color: aliceblue;
    background:rgb(215, 36, 182);
    margin: 10px;
    padding: 10px;
    border-radius: .5rem;
   border: 1px solid black;
   position: absolute;
   left: 50%;
   top:50%;

  }

  @media screen and (min-width:800px) {

    .tercerPunto-p2{
    
      font-family:  sans-serif;
      font-weight: 400;    
      font-style: normal;   
      
       
     color: aliceblue;
     background:linear-gradient(to right, rgb(219, 74, 219), rgb(108, 190, 32)) ;
     margin: 30px;
     padding: 10px;
     border-radius: .9rem;
    border: 3px solid rgb(207, 7, 7);
   };
    
  }

