h1{
    color:brown;
}
.container{
    
    padding: .4rem;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
    
    

}

.element{
    padding: 0.4rem;
    border: 1px solid black;
    margin: 0.4rem;
    width: 80%;
}
button{

    
    padding: .4rem;
    border:none;
    margin-top: 10px;
    color: aliceblue;
    background-color: blue;
    border-radius: .4rem;

}

